@model ContactVM
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Info</h1>


<form asp-action="ContactInfo" asp-controller="Contact">
    <div class="form-group">
        <label asp-for="MainEmail">Main Email</label>
        <input asp-for="MainEmail" value="@Model.MainEmail" readonly class="form-control" />
    </div>
    @if(Model.Contacts != null && Model.Contacts.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Contact Type</th>
                        <th>Entry</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.Contacts)
                    {
                        <tr>
                            <td>@contact.Type</td>
                            <td>@contact.Value</td>
                            <td>
                                <a asp-action="DeleteContact"
                                   asp-route-id="@contact.Id"
                                   class="btn btn-sm btn-outline-danger"
                                   onclick="return confirm('Are you sure you want to delete this contact?');">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No contacts found</p>
    }

    <a asp-action="AddContact" class="btn btn-primary">Add New Contact</a>
</form>
