@using LinkifyBLL.Services.Abstraction
  
  @inject IAuthenticationService AuthService

<ul class="navbar-nav ms-auto">
    @if (AuthService.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Signup">Signup</a>
        </li>
    }
</ul>
