@using System.Security.Claims

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var userName = User.Identity?.Name;
    var userEmail = User.FindFirstValue(ClaimTypes.Email);
    // Assume image path is in the model
    //var userImage = Model?.ImgPath ?? "/imgs/Account/default.png";
    var userImage = ViewBag.UserImage as string ?? "/imgs/Account/default.png";
}
  <!-- Top Navigation Bar -->

<nav class="topbar" role="navigation" aria-label="Main navigation">
    <div class="nav-container">
        <div class="logo-section">
            <a href ="/Home/index">

                 <div class="logo" role="img" aria-label="ProConnect logo">
                        <img src="~/imgs/Account/logo.png" alt="Alternate Text" class="img-fluid" style="max-height:40px;" />
                 </div>

                            
                <a class ="brand-name" style="cursor:pointer">
                     Linkify
                </a> 

            </a>
        </div>

        <div class="search-container">
            <label for="main-search" class="sr-only">Search</label>
            <i class="fas fa-search search-icon" aria-hidden="true"></i>
            <input type="text"
                   id="main-search"
                   class="search-box"
                   placeholder="Search for people, jobs, companies..."
                   autocomplete="off"
                   role="searchbox"
                   aria-describedby="search-suggestions">


        </div>

        <div class="nav-right">

            <!--begin::Theme mode-->
            <div class="app-navbar-item ms-1 ms-md-4">
                <!--begin::Menu toggle-->
                <a href="#"
                   class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px"
                   data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                   data-kt-menu-attach="parent"
                   data-kt-menu-placement="bottom-end">
                    <i class="ki-duotone ki-night-day theme-light-show fs-1">
                        <i class="fas fa-sun theme-light-show fs-1"></i>
                        </i>
                    <i class="ki-duotone ki-moon theme-dark-show fs-1">
                        <span class="path1"></span><span class="path2"></span>
                        <i class="fas fa-sun theme-light-show fs-1"></i>
                        <i class="fas fa-moon theme-dark-show fs-1"></i>
                    </i>
                </a>
                <!--begin::Menu toggle-->
                <!--begin::Menu-->
                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px"
                     data-kt-menu="true"
                     data-kt-element="theme-mode-menu">
                    <!--begin::Menu item-->
                    <div class="menu-item px-3 my-0">
                        <a href="#"
                           class="menu-link px-3 py-2"
                           data-kt-element="mode"
                           data-kt-value="light">
                            <span class="menu-icon"
                                  data-kt-element="icon">
                                <i class="ki-duotone ki-night-day fs-2">
                                    <i class="fas fa-sun fs-2"></i>
                                    
                                </i>
                            </span>
                            <span class="menu-title">
                                Light
                            </span>
                        </a>
                    </div>
                    <!--end::Menu item-->

                    <!--begin::Menu item-->
                    <div class="menu-item px-3 my-0">
                        <a href="#"
                           class="menu-link px-3 py-2"
                           data-kt-element="mode"
                           data-kt-value="dark">
                            <span class="menu-icon"
                                  data-kt-element="icon">
                                <i class="ki-duotone ki-moon fs-2">
                                    <i class="fas fa-moon fs-2"></i>
                                    
                                </i>
                            </span>
                            <span class="menu-title">
                                Dark
                            </span>
                        </a>
                    </div>
                    <!--end::Menu item-->
                    
                </div>
                <!--end::Menu-->
            </div>
            <!--end::Theme mode-->


            <!-- Language Selector -->
            <div class="me-10">
                <button class="btn btn-flex btn-link btn-color-gray-700 btn-active-color-primary rotate fs-base"
                        data-kt-menu-trigger="click"
                        data-kt-menu-placement="bottom-start"
                        data-kt-menu-offset="0px, 0px">
                    <img data-kt-element="current-lang-flag"
                         class="w-20px h-20px rounded me-3"
                         src="~/imgs/Account/translation/united-states.svg"
                         alt="" />

                    <span data-kt-element="current-lang-name"
                          class="me-1">English</span>

                    <span class="d-flex flex-center rotate-180">
                        <i class="fas fa-chevron-down fs-5 text-muted m-0"></i>
                    </span>
                </button>

                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-4 fs-7"
                     data-kt-menu="true"
                     id="kt_auth_lang_menu">
                    <div class="menu-item px-3">
                        <a href="#"
                           class="menu-link d-flex px-5"
                           data-kt-lang="English">
                            <span class="symbol symbol-20px me-4">
                                <img data-kt-element="lang-flag"
                                     class="rounded-1"
                                     src="~/imgs/Account/translation/united-states.svg"
                                     alt="" />
                            </span>
                            <span data-kt-element="lang-name">English</span>
                        </a>
                    </div>
                    <div class="menu-item px-3">
                        <a href="#"
                           class="menu-link d-flex px-5"
                           data-kt-lang="Spanish">
                            <span class="symbol symbol-20px me-4">
                                <img data-kt-element="lang-flag"
                                     class="rounded-1"
                                     src="~/imgs/Account/translation/Arabic.svg"
                                     alt="" />
                            </span>
                            <span data-kt-element="lang-name">Arabic</span>
                        </a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!--begin::User menu-->
    <div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="cursor-pointer symbol symbol-35px"
             data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
             data-kt-menu-attach="parent"
             data-kt-menu-placement="bottom-end">
            <img src="@userImage" class="rounded-3" alt="@userName" />
        </div>

        <!--begin::User account menu-->
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
            <!--begin::Menu item-->
            <div class="menu-item px-3">
                <div class="menu-content d-flex align-items-center px-3">
                    <!--begin::Avatar-->
                    <div class="symbol symbol-50px me-5">
                        <img alt="@userName" src="@userImage" />
                    </div>
                    <!--end::Avatar-->
                    <!--begin::Username-->
                    <div class="d-flex flex-column">
                        <div class="fw-bold d-flex align-items-center fs-5">
                            @userName                 <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
                        </div>

                        <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">
                           @userEmail
                        </a>
                    </div>
                    <!--end::Username-->
                </div>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu separator-->
            <div class="separator my-2"></div>
            <!--end::Menu separator-->
            <!--begin::Menu item-->
            <div class="menu-item px-5">
                <a href="/Account/Index" class="menu-link px-5">
                    My Profile
                </a>
            </div>
            <!--end::Menu item-->

            <!--begin::Menu item-->
            <div class="menu-item px-5">

                <form asp-controller="Account" asp-action="Logout" method="post" class="menu-link px-5"> 
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </div>
            <!--end::Menu item-->
        </div>
        <!--end::User account menu-->
        <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    </div>
    </div>
</nav>
<script src="~/js/Account/Login1.js"></script>
<script src="~/js/Account/Login2.js"></script>